{% extends 'template.html.twig' %}

{% block title %}Ventas por usuarios{% endblock %}

{% block header %}

 <header id="topbar" class="ph10">

             <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="#">Graficos</a></li>
              <li class="crumb-trail">Metas</li>
            </ol>
          </div>
          
        </header>
         <header id="topbar" class="ph10">
          <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">
              <li class="active"><a href="#">Graficos</a></li>
              
            </ul>
          </div>
         
        </header>

<div class="content-header">
                <h2><b class="text-primary">Promedios</b>
                </h2>
              
              </div>
{% endblock %}

{% block body %}
<div id="p6" class="panel">
                    <div class="panel-heading"><span class="panel-title">Control de promedios</span></div>
                    <div class="panel-body pn">
                      <div class="row table-layout">
                        <div class="col-xs-12 va-m">
                          <div id="usuarios" style="width: 100%; height:400px; margin: 0 auto"></div>
                        </div>
                       
                      </div>
                    </div>
                  
                  </div>

{% endblock %}

{% block addscript %}
      <script type="text/javascript">
      jQuery(document).ready(function () {

        
       /* demoHighCharts.init();*/
        
        // Init plugins for ".calendar-widget"
        // plugins: FullCalendar
        //
          var highColors = [bgInfo, bgPrimary, bgSuccess, bgWarning,
            bgDanger, bgSuccess, bgSystem, bgDark
        ];
        var usuarios = $('#usuarios');
                  
                    if (usuarios.length) {
                        $('#usuarios').highcharts({
                        credits: false,
                        colors: highColors,
                        chart: {
                            backgroundColor: '#f9f9f9',
                            className: 'br-r',
                            type: 'line',
                            zoomType: 'x',
                            panning: true,
                            panKey: 'shift',
                            marginTop: 25,
                            marginRight: 1,
                        },
                        title: {
                            text: null
                        },
                        xAxis: {
                            gridLineColor: '#EEE',
                            lineColor: '#EEE',
                            tickColor: '#EEE',
                            categories: ['Enero', 'Febrero', 'Marzo', 'Abril',
                                'Mayo', 'Junio', 'Julio', 'Agosto',
                                'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'
                            ]
                        },
                        yAxis: {
                            min: 0,
                            tickInterval: 5,
                            gridLineColor: '#EEE',
                            title: {
                                text: null,
                            }
                        },
                        plotOptions: {
                            spline: {
                                lineWidth: 3,
                            },
                            area: {
                                fillOpacity: 0.2
                            }
                        },
                        legend: {
                            enabled: false,
                        },
                        series: {{ series|raw() }}
                        
                    });
                    }

     
      });
    </script>
    {% endblock %}