{% extends 'template.html.twig' %}

{% block title %}Editar Productos{% endblock %}


{% block header %}

 <header id="topbar" class="ph10">

             <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="{{ path('productos_index') }}">Productos</a></li>                            
              <li class="crumb-trail">Editar registro</li>
            </ol>
          </div>
          
        </header>
         <header id="topbar" class="ph10">
          <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">
              <li class="active"><a href="{{ path('productos_index') }}">Listado de Productos</a></li>
              <li>  {{ include('productos/_delete_form.html.twig') }}</li>
              
            </ul>
          </div>
         
        </header>

<div class="content-header">
                <h2><b class="text-primary">Editar Productos</b>
                </h2>
              
              </div>
{% endblock %}


{% block body %}

    {{ include('productos/_form.html.twig', {'button_label': 'Actualizar'}) }}



{% endblock %}
 {% block addscript %}
 <script type="text/javascript">
jQuery(document).ready(function () {
   $('.filearchivo').removeAttr("required");
    {% if is_granted('ROLE_ALMACEN') %}
        $("#productos_costo").prop('readonly', true);
        $("#productos_precioVenta").prop('readonly', true);
        

    {% endif %}
   });
 </script>
    {% endblock %}