<form method="post" action="{{ path('familia_delete', {'id': familium.id}) }}" onsubmit="return confirm('¿Desea eliminar este registro?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ familium.id) }}">
    <button class="btn btn-danger">Eliminar registro</button>
</form>
