{% extends 'template.html.twig' %}

{% block title %}Listado de Familia{% endblock %}

  {% block header %}

        <header id="topbar" class="ph10">

             <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="#">Familia</a></li>                            
              <li class="crumb-trail">Listado</li>
            </ol>
          </div>
          
        </header>
         <header id="topbar" class="ph10">
          <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">
              <li class="active"><a href="{{ path('familia_new') }}">Crear nueva familia</a></li>
              
            </ul>
          </div>
         
        </header>
          
          
      {% endblock %}


{% block body %}

        <section id="content" class="table-layout animated fadeIn">
        <!-- begin: .tray-left-->

        <!-- begin: .tray-center-->
        <div class="tray tray-center">
        <!-- Panel with: Basic Footable-->

        <!-- Panel with: Data Filter-->

        <!-- Panel with: Pagination-->
        <div id="spy3" class="panel">

        <div class="panel-body pn">
        <table class="table familia">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        {% for familium in familias %}
            <tr>
                <td>{{ familium.nombre }}</td>
                <td>
                    <a href="{{ path('familia_show', {'id': familium.id}) }}"><span class="glyphicon glyphicon-search"></span></a>
                    <a href="{{ path('familia_edit', {'id': familium.id}) }}"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay registro</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   </table>

     </div>
            </div>
            <!-- Panel with: Expanding Rows-->
          
            <!-- DEMO - breaks used to extend container - DEMO--><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div>
        </section>
{% endblock %}
