{% extends 'template.html.twig' %}

{% block title %}Editar proveedor{% endblock %}


{% block header %}

 <header id="topbar" class="ph10">

             <div class="topbar-left">
            <ol class="breadcrumb">
              <li class="crumb-active"><a href="{{ path('proveedores_index') }}">Proveedor</a></li>                            
              <li class="crumb-trail">Editar registro</li>
            </ol>
          </div>
          
        </header>
         <header id="topbar" class="ph10">
          <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">
              <li class="active"><a href="{{ path('proveedores_index') }}">Listado de Proveedores</a></li>
              <li>  {{ include('proveedores/_delete_form.html.twig') }}</li>
              
            </ul>
          </div>
         
        </header>

<div class="content-header">
                <h2><b class="text-primary">Editar proveedores</b>
                </h2>
              
              </div>
{% endblock %}

{% block body %}


    {{ include('proveedores/_form.html.twig', {'button_label': 'Actualizar'}) }}


  
{% endblock %}
