<form method="post" action="{{ path('movimientos_depositos_delete', {'id': movimientos_deposito.id}) }}" onsubmit="return confirm('¿Desea eliminar este deposito?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ movimientos_deposito.id) }}">
    <button class="btn btn-danger">Eliminar Factura</button>
</form>
